.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-home-icon img {
  width: 24px;
  height: 24px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-right a:hover {
  text-decoration: underline;
}
